@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

:root {
  --primary-color: #3ae374;
  --error-color: #ff4e50;
  --background-color: #06435d;
  --footer-color: rgb(28, 64, 53);
  --input-color: #1f7194;
  --card-color: #0a2137;
  --font-primary: "Montserrat", sans-serif;
  --hover-opacity: 0.8;
  --transition: opacity 0.3s ease-in-out;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: var(--font-primary);
  background: linear-gradient(
    to top,
    var(--footer-color) 0%,
    var(--background-color) 60%
  );
  color: white;
  font-family: var(--font-primary);
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.pressable:hover {
  opacity: var(--hover-opacity);
  transition: var(--transition);
  cursor: pointer;
}

.button:hover {
  background-color: white;
}

input::placeholder {
  color: white;
  opacity: 1;
}

button:disabled {
  background-color: grey;
  color: black;
  cursor: not-allowed;
  opacity: 0.6;
}

button:disabled:hover {
  background-color: grey;
  color: black;
  cursor: not-allowed;
  opacity: 0.6;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: var(--input-color);
  border-radius: 10px;
  padding: 4px;
}

::-webkit-scrollbar-thumb {
  background: var(--card-color);
  border-radius: 10px;
  margin-left: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--card-color);
}
